# Language
input_tab_size                  = 4
output_tab_size                 = 4
indent_columns                  = 4
indent_with_tabs                = 0
code_width                      = 100

# Alignment
align_same_func_call_params     = true
align_same_func_call_params_span = 4

# Spaces around operators
sp_arith                        = add
sp_assign                       = add
sp_compare                      = add
sp_bool                         = add
sp_comma                        = add

# Braces (attach style)
nl_fdef_brace                   = remove
nl_after_brace_open             = ignore

# Pointer alignment (left: int* p)
sp_before_ptr_star              = add
sp_after_ptr_star               = remove
sp_between_ptr_star             = remove
